#pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
#or probably one your gpu supports?
#note, install these FIRST as yolo will install the CPU versions.

psutil
pillow
natsort
send2trash
ultralytics
torch
torchvision
scikit-image
numpy
imageio
pymediainfo
av
pyvips
python-vlc
faiss-cpu
pyperclip


