psutil
pillow
natsort
send2trash
ultralytics
torch
torchvision
scikit-image
numpy
imageio
pymediainfo
av
pyvips
python-vlc
faiss-cpu

#pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
#or probably one your gpu supports?
